body {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
svg {
  flex-shrink: 0;
}

vr {
  flex-shrink: 0;
  width: 2px;
  height: 80%;
  background-color: var(--bg-3);
}

input:not([type="range"]) {
  margin: 2px !important;
  padding: 2px 4px !important;
}
input[type="number"] {
  width: 100px;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
}

.tippy-content {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.tippy-content button {
  display: flex;
  gap: 5px;
  align-items: center;
}

#hello div.list {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin: 5px 0px;
}
.project {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 0.5rem;
  background-color: var(--bg-2);
}
.project img {
  max-width: 15dvw;
  max-height: 15dvh;
  object-fit: contain;
  image-rendering: pixelated;
}
.project .small {
  font-size: 80%;
  color: var(--text-2);
}
.project button {
  border: none;
  background-color: var(--bg-3);
}

#hwanotice {
  color: var(--bg-0);
  padding: 5px;
  border-radius: 1rem;
  background-color: var(--red-1);
}

nav {
  flex-shrink: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 74px;
  overflow: auto hidden;
}
nav div {
  flex-shrink: 0;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

#actions button, .tools button, #rotatecolor, #colors button, #extra button {
  border: none;
  outline: none;
}
.tools button[selected], #extra button[selected] {
  color: var(--text-1);
  background-color: var(--bg-2);
}

#export .type button {
  color: var(--text-1);
  padding: 10px;
  border: none;
  background-color: var(--bg-0);
  outline: none;
}
#export .type button[selected] {
  background-color: var(--bg-3);
}

#currentcolors {
  flex-direction: column;
  justify-content: center;
}
#currentcolors button {
  width: 25px;
  height: 25px;
  outline: none;
  background-color: var(--color);
  transition: none;
}
#colorpicker {
  position: absolute;
  top: 74px;
  margin: 0px;
  z-index: 12;
}
.IroColorPicker svg {
  transition: none;
}
#hexcolor {
  width: 100%;
  border-width: 1px;
  outline: none;
  box-sizing: border-box;
}

#colors {
  --colors-size: 20px;
  --colors-columns: 7;
  --colors-rows: 3;
  gap: 1px;
  max-width: calc(var(--colors-size) * var(--colors-columns) + 1px * var(--colors-columns) + 8px);
  max-height: calc(var(--colors-size) * var(--colors-rows) + 1px * var(--colors-rows));
  overflow: auto;
}
#colors button {
  width: var(--colors-size);
  height: var(--colors-size);
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  background-color: var(--color);
}
#colors button:hover {
  background-color: var(--color);
}

main {
  flex: 1;
  display: flex;
  align-items: center;
}
#area {
  flex: 1;
  position: relative;
  height: 100%;
  border-top-right-radius: 1rem;
  overflow: hidden;
}
#transforms {
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(var(--bg-2) 0 25%, var(--bg-0) 0 50%) 0 / 25px 25px;
}
#transforms > *:not(#cursor) {
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  touch-action: none;
  transition: opacity var(--time-2);
}
#transforms > canvas {
  display: block;
  image-rendering: pixelated;
}
#transforms > svg .select {
  stroke: var(--text-1);
}
#transforms > svg .select:not(line) {
  stroke-width: 5px;
}
#transforms > svg > * {
  transition: fill 500ms, stroke 500ms;
}
#cursor {
  position: absolute;
  display: flex;
  border: 2px var(--text-1) solid;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
}
#preview {
  width: 100%;
  height: 0px;
  max-height: 15dvh;
  object-fit: contain;
  image-rendering: pixelated;
}
#layers {
  display: flex;
  flex-direction: column;
  width: 20dvw;
  height: calc(100dvh - 72px);
  margin: 5px;
  padding: 10px;
  border-radius: 1rem;
  background-color: var(--bg-2);
  transition: width var(--time-1);
  box-sizing: border-box;
  overflow: hidden;
}
#layers.contracted {
  width: 50px;
}
#layers .list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
}
#layers .bar {
  display: flex;
  gap: 0px;
  transition: gap var(--time-1);
}
#layers.contracted .bar {
  gap: 10px;
}
#layers .bar h2 {
  flex: 1;
}
#layers .bar > button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  margin: 0px;
  padding: 2px;
  border: none;
  outline: none;
}
#layers .list div {
  display: flex;
  border-radius: 0.5rem;
}
#layers .list div[selected] {
  background-color: var(--bg-1);
}
#layers .list button {
  display: flex;
  gap: 5px;
  align-items: center;
  color: currentColor;
  border: none;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  transition: var(--time-2);
}
#layers .list button:hover {
  color: var(--bg-1);
}
#layers .list div button:nth-child(1) {
  flex: 1;
}
#layers .list div:not(:has([data-tippy-root])) button.other {
  width: 0px;
  padding: 0px;
  opacity: 0;
}
#layers .list div:hover button.other {
  width: 30px;
  padding: 5px;
  opacity: 1;
}
#layers.contracted .list div button.other {
  display: none;
}
#layers .list input {
  flex: 1;
  color: currentColor;
  border-color: currentColor;
  width: 0px;
  min-width: 0px;
  margin: 0px !important;
}

@media (max-width: 700px) {
  .nomobile {
    display: none;
  }
  nav {
    gap: 2px;
  }
  nav div {
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }
  #colors {
    flex-direction: column;
  }
  #layers {
    width: 45dvw;
    height: calc(100dvh - 86px);
  }
  #layers .list div button.other {
    width: 30px;
    padding: 5px;
    opacity: 1;
  }
}